@use "./../../style/variables.scss";
@use "./../../style/style.scss";

.menu {
    background: #F7F3FF;
    box-sizing: border-box;
    padding: 35px 10px 35px 35px;
    min-width: 320px;
    height: 100vh;

    .logo {
        padding: 0 0 75px 0;
        max-width: 190px;
        max-height: 40px;
    }

    &__list {
        @extend %flex-column;
        align-items: flex-start;
        gap: 38px;
        
        &__item--p {
            display: inline-block;
            padding: 9px;
            color: rgba(106, 84, 106, 0.50);
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
        }

        &__item--img {
            filter: contrast(0%);
            width: 40px;
            height: 40px;
            // background: rgba(106, 84, 106, 0.50);
            // background-blend-mode: lighten;
        }

        &__item--link.active {
            position: relative;

            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 10px;
                height: 38px;
                background-color: #361961;
                border-radius: 0px 11px 11px 0px;
                top: 0;
                left: -35px;
            }

            .menu__list__item--img {
                filter: contrast(150%);
            }

            .menu__list__item--p {
                color: #40003E;
            }
        }


    }
}