@use "./../../style/variables.scss";
@use "./../../style/style.scss";

.course_item {
    box-sizing: border-box;
    max-width: 580px;
    padding: 20px;

    border-radius: 10px;
    border: 2px solid #40003E;

    @extend %flex-row;
    gap: 10px;

    &--img {
        width: 60px;
        height: 60px;
        object-fit: contain;
    }

    &__info {

        color:  #40003E;
        max-width: 310px;

        .title {
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
            padding-bottom: 14px;
        }

        .text {
            font-size: 12px;
            font-weight: 400;
            line-height: 12px;
        }
    }

    .progress__wrapper {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        border: 1px solid #40003E;
    }

    .progress {
        display: block;
        padding-left: 7px;
        transform: translateX(10px);
        transform: translateY(15px);
    }

    .favotite {
        width: 32px;
        height: 32px;
    }

}