@use "./../../style/variables.scss";
@use "./../../style/style.scss";

.profile {
    @extend %flex-row;
    justify-content: start;
    align-items: flex-start;

    height: 100vh;

    &__header {
        @extend %flex-row;
        padding-bottom: 60px;
    }

    &__main {
        // min-width: calc(100% - 350px);
        margin: 22px auto 0;
        padding: 0 50px;

        .title {
            color:#40003E;
            font-size: 32px;
            font-weight: 600;
            line-height: 24px;
        }

        .progress {
            display: grid;
            grid-template-columns: .6fr 1fr;
            gap: 35px;
            position: relative;

            // @extend %flex-row;
            // justify-content: start;
            // gap: 35px;
        
            .achives {
                    position: relative;
                &__title {
                    color: #D0CECE;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 24px;
                    padding-bottom: 20px;
                }

                &__slider {
                    max-width: 700px;
                    overflow: hidden;

                    .slider {
                        position: relative;
                        width: 760px;
                    }

                    .prev {
                        position: absolute;
                        width: 16px;
                        height: 27px;
                        left: -24px;
                        top: 200px;

                        background-image: url(./../../assets/icons/arrows/1.png);
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    .next {
                        position: absolute;
                        width: 16px;
                        height: 27px;
                        right: -20px;
                        top: 200px;

                        transform: rotate(180deg);

                        background-image: url(./../../assets/icons/arrows/1.png);
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }

            .calendar-container{
                padding: 45px 0 0;
            }
        }

        .courses {
            padding: 34px 0 0;
            
            &__title {
                color: #D0CECE;
                font-size: 24px;
                font-weight: 400;
                line-height: 24px;
                padding: 0 0 0 34px;
            }

            &__list {
                padding: 16px 0 0 ;
                @extend %flex-row;
                gap: 40px;
                flex-wrap: wrap;

                max-height: 124px;
                overflow: scroll;
                -ms-overflow-style: none;
            }

            &__list::-webkit-scrollbar {
                width: 0;
            }

        }
    }
}